@import 'variables';

body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  scrollbar-face-color: rgba($brand-secondary, 0.9);
}

p, div, li, h1, h2, h3, h4, h5, a, span, button {
  font-family: 'Montserrat';
}

.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: $gray-200;
  // box-shadow: inset 0 0 3px 1px rgba($brand-primary, 0.7);
}

::-webkit-scrollbar-thumb {
  background: darken($brand-primary, 17%);
  border-radius: 1px;
  border-radius: 1px;
  box-shadow: inset 0 0 1px rgba($brand-primary, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba($brand-primary-dark, 0.9);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba($brand-secondary, 0.8);
}

::selection {
  background-color: $brand-primary;
}

.hf-100 {
  height: 100vh !important;
}

.wf-100 {
  width: 100vh !important;
}

.child-flex-none > * {
  flex: none !important;
}

.flex-none {
  flex: none !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 500 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-elevation {
  text-shadow: 2px 5px 10px rgba($black, 0.8);
}

.bg-transparent-dark {
  background-color: rgba($black, 0.4) !important;
}

.bg-transparent-dark-2 {
  background-color: rgba($black, 0.8) !important;
}

.bg-transparent-white {
  background-color: rgba($white, 0.4) !important;
}

.bg-transparent-white-2 {
  background-color: rgba($white, 0.8) !important;
}

.shape-elevation {
  filter: drop-shadow(3px 15px 10px rgba(0, 0, 0, 0.6));
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.font-all-caps {
  font-variant: small-caps !important;
}

.img-cover {
  object-fit: cover !important;
}

.img-contain {
  object-fit: contain !important;
}

z-index-0 {
  z-index: -1;
}

z-index-1 {
  z-index: 1;
}

z-index-2 {
  z-index: 10;
}

z-index-3 {
  z-index: 50;
}

.transition--short {
  transition: all 0.4s;
}

.transition--medium {
  transition: all 0.8s;
}

.transition--long {
  transition: all 1.4s;
}

.transition__child--medium > * {
  transition: all 0.8s;
}

.flex-column {
  flex-direction: column !important;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}
