@import 'variables';

body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  scrollbar-face-color: rgba($brand-secondary, 0.9);
}

.border-box {
  box-sizing: border-box !important;
}

.content-box {
  box-sizing: content-box !important;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: $gray-200;
  // box-shadow: inset 0 0 3px 1px rgba($brand-primary, 0.7);
}

::-webkit-scrollbar-thumb {
  background: darken($brand-primary, 17%);
  border-radius: 1px;
  border-radius: 1px;
  box-shadow: inset 0 0 1px rgba($brand-primary, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba($brand-primary-dark, 0.9);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba($brand-secondary, 0.8);
}

::selection {
  background-color: $brand-primary;
}

// This will give each element with .bg-comp a striping/alternating backgrounds
// if not given a specific background with primary or secondary

@include make-bg-sets();

.menu-icon {
  align-items: center;
  cursor: pointer; // position: absolute;
  display: flex;
  flex-direction: column;
  // right: 2 * $grid-both + $grid-each;
  // bottom: 0;
  height: 100%;
  justify-content: center;
  margin-right: 15px;
  top: 0; // Bootstrap class pull right has already made it positioned absolute right
  width: 60px;
  /* outline: 1px solid wheat;*/
  .bar1,
  .bar2,
  .bar3 {
    background-color: #eaeaea;
    border-radius: 0.2px;
    height: 3px;
    margin: 4px 0 0;
    transition: 0.4s;
    width: 32px;
  }

  &.change {
    /* Rotate first bar */
    .bar1 {
      transform: rotate(-45deg) translate(-4px, 3px);
    }
    /* Fade out the second bar */
    .bar2 {
      opacity: 0;
    }
    /* Rotate last bar */
    .bar3 {
      transform: rotate(45deg) translate(-7px, -7px);
    }
  }

  &:hover {
    .bar1,
    .bar2,
    .bar3 {
      background-color: $white;
    }
  }
}

// .form-control {
//   &:hover,
// &:focus {
//     border: 1px solid transparent; // so as to disable browser
//     outline: 0;
//   }
// }

.hf-100 {
  height: 100vh !important;
}

.wf-100 {
  width: 100vh !important;
}

.child-flex-none > * {
  flex: none !important;
}

.flex-none {
  flex: none !important;
}

blockquote {
  background-color: rgba($gray-400, 0.3);
  border-left: 2px solid $brand-primary;
  border-top-right-radius: $border-radius;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 500 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.btn-action {
  // background: $btn-action-bg;
  background: rgba($gray-400, 0.6);
  border-width: 2px;
  bottom: 3rem;
  box-shadow: -5px 0 9px rgba($black, 0.7);
  color: $text-bright;
  position: absolute;
  right: 50px; // width of .app-side-bar-shrink
  transform: translateX(50%);
  z-index: $zindex-fixed;

  &--left {
    left: 50px;
    right: unset;
  }
}

.text-elevation {
  text-shadow: 2px 5px 10px rgba($black, 0.8);
}

.bg-transparent-dark {
  background-color: rgba($black, 0.4) !important;
}

.bg-transparent-dark-2 {
  background-color: rgba($black, 0.8) !important;
}

.bg-transparent-white {
  background-color: rgba($white, 0.4) !important;
}

.bg-transparent-white-2 {
  background-color: rgba($white, 0.8) !important;
}

.bg-gradient-mix {
  background: $gradient-mix !important;
}

.bg-gradient-mix-transparent {
  background: $gradient-mix-transparent !important;
}

.bg-gradient-mix-2 {
  background: $gradient-mix-2 !important;
}

.bg-gradient-mix-transparent-2 {
  background: $gradient-mix-transparent-2 !important;
}
// subtle black and purple shadow with subtle white flare
.black-shadow-0 {
  box-shadow: 2px 3px 8px rgba($black, 0.4),
    1px 2px 9px -3px rgba($brand-primary, 0.2);
}

.black-shadow-1 {
  box-shadow: 1px 10px 19px rgba($black, 0.3),
    0 9px 29px rgba($brand-primary, 0.3);

  &-highlight {
    box-shadow: 1px 10px 19px rgba($black, 0.25),
      0 9px 29px rgba($brand-primary, 0.3), 0 0 70px -10px rgba($white, 0.7);
  }
}

.black-shadow-2 {
  box-shadow: 1px 10px 19px 3px rgba($black, 0.4),
    0 9px 29px 2px rgba($brand-primary, 0.3);

  &-highlight {
    box-shadow: 1px 10px 19px 3px rgba($black, 0.4),
      0 9px 29px 2px rgba($brand-primary, 0.1), 0 0 70px -10px rgba($white, 0.7);
  }
}

.black-shadow-3 {
  box-shadow: 1px 15px 19px -5px rgba($black, 0.4),
    0 14px 29px -5px rgba($brand-primary, 0.2);

  &-highlight {
    box-shadow: 2px 10px 19px 3px rgba($black, 0.4),
      1px 9px 29px -3px rgba($brand-primary, 0.2),
      0 0 70px -24px rgba($white, 0.7);
  }
}

.shape-elevation {
  filter: drop-shadow(3px 15px 10px rgba(0, 0, 0, 0.6));
}

.ovrlay {
  background: $gradient-mix-transparent;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: $transition-fade;
  z-index: $zindex-dropdown;

  &-item {
    color: $text-bright;
  }
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.font-all-caps {
  font-variant: small-caps !important;
}

.ovrlay-trigger {
  &:hover {
    *:not(.ovrlay, .ovrlay-item) {
      filter: blur(9px);
      transition: all 0.9s;
    } // Must use .ovrlay-item on all elements not to be blurred
    .ovrlay {
      opacity: 1;
    }
  }
}

// Turn an image to element background
// Parent must be relative...
.img-background {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.img-cover {
  object-fit: cover !important;
}

.img-contain {
  object-fit: contain !important;
}

// Must use with parent of .img-background
.img-background-container {
  position: relative;

  *:not(.img-background) {
    z-index: inherit;
  }

  > *:not(.img-background) {
    position: relative;
    z-index: 1;
  }
}

z-index-0 {
  z-index: -1;
}

z-index-1 {
  z-index: 1;
}

z-index-2 {
  z-index: 10;
}

z-index-3 {
  z-index: 50;
}

.transition--short {
  transition: all 0.4s;
}

.transition--medium {
  transition: all 0.8s;
}

.transition--long {
  transition: all 1.4s;
}

.transition__child--medium > * {
  transition: all 0.8s;
}

.skewx-0 {
  // left: calc( (62.5vw / 3) * -1) !important;
  transform: skewX(-25deg);
  transform-origin: top;
  width: 50vw;

  // quick fix for mobile
  // @include media-breakpoint-down(xs) {
  //   left: calc(-50vw - 12.5%) !important;
  // }
}

.skewx-1 {
  margin-left: -1005px !important;
  padding-left: 1000px !important;
  padding-right: 15px !important;
  transform: skewX(-30deg);

  &-negate {
    transform: skewX(30deg) !important;
  }
}

.flex-column {
  flex-direction: column !important;
}

.skewy-0 {
  height: 65vh;
  transform: skewY(-5deg);
  transform-origin: left;

  // quick fix for mobile
  // @include media-breakpoint-down(sm) {
  //   height: calc(-50vw - 12.5%) !important;
  // }
}

.skewy-1 {
  margin-top: -1005px !important;
  padding-bottom: 15px !important;
  padding-top: 1000px !important;
  transform: skewY(-30deg);

  &-negate {
    transform: skewY(30deg) !important;
  }
}

.increase-z-on-interact {
  transition: z-index 0.7s !important;
}

.increase-z-on-interact:hover,
.increase-z-on-interact:focus {
  z-index: 2 !important;
}

.blur-1 {
  filter: blur(5px);
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}
