@import 'mixin';

.swiper-container,
.slides-overlay,
.swiper-slide-img {
  height: 100%;
  width: 100%;
}

.slides-overlay {
  display: flex;
  left: 0;
  padding: 15px 30px;
  position: absolute;
  top: 0;
}

.swiper-slide {
  align-items: center;
  background: $gradient-mix-2;
  background-size: cover;
  display: flex;

  > * {
    height: 100%;
    width: 100%;
  }
}

.swiper-slide-img {
  object-fit: contain;
}

.app-header,
.welcome-slides {
  height: 80vh;
  position: relative;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 60vh;
  }
}

.swiper-pagination {
  .welcome-slides & {
    bottom: 50px;
    left: 50%;
    opacity: 0.7;
    transform: translateX(-50%);
  }

  &-bullet {
    background-color: rgba($white, 0.9);
    border-radius: 25px;
    height: 10px;
    margin: 0 2px;
    transition: all 0.7s;
    width: 15px;

    &-active {
      background-color: $yellow;
      opacity: 0.8;
      width: 20px;
    }
  }
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffc107'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffc107'%2F%3E%3C%2Fsvg%3E");
}
