@import 'variables';
@import 'functions';
@import 'mixin';
@import 'base';
@import 'utilities';

.toolbar {
  // background-image: url('/static/images/overlays/07.png') !important;
  // background-repeat: repeat !important;
}

.bg-primary-dark--transparent  {
  background-color: rgba($brand-primary-dark, 0.9) !important;
}

.toolbar--transparent  {
  background-color: rgba($brand-primary, 0.9) !important;
}

.bg-primary-dark {
  background-color: $brand-primary-dark !important;
}

.toolbar--opaque, .navigation-drawer {
  background-color: $brand-primary !important;
}

.section-about {
  background: radial-gradient( closest-corner at 100px 100px, lighten($brand-primary, 3%) 0%, lighten($brand-primary, 3%) 40.9%, darken($brand-primary, 9%) 41%, darken($brand-primary, 9%) 51%, $brand-primary 60%, darken($brand-primary, 5%));
}

.section-faq {
  background: url('/static/images/image-icons/faq.png') no-repeat center, linear-gradient(to right top, darken($color: $brand-primary, $amount: 25%), darken($color
  : $brand-primary, $amount: 15%));
  background-size: 256px,  auto;
}

.app-footer {
  background-color: #f7f7f7 !important;
}

.move-transition {
  transition: transform 1s;
}
